<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for ArduPilotMega based FCU's -->

	<arg name="fcu_url" default="/dev/ttyUSB0:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />



<group ns = "camila0">

<include file="$(find mavros)/launch/node.launch">
        <arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
        <arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />
        <arg name="tgt_system" value="$(arg tgt_system)" />
        <arg name="tgt_component" value="$(arg tgt_component)" />
        <arg name="log_output" value="$(arg log_output)" />
</include>

</group>
  <group>
    <node name="cmd_node" pkg="swarm_ctrl_pkg" type="cmd_node" output="screen">
      <param name="takeoff_alt" value="2.5"/>
    </node>

    <node name="state_node" pkg="swarm_ctrl_pkg" type="state_node" output="screen">
    </node>

    <node name="set_point_node" pkg="swarm_ctrl_pkg" type="set_point_node" output="screen">
     <param name="formation" value="diamond"/>
     <param name="offset" value="2.0"/>
   </node>

   <node name="control_node" pkg="swarm_ctrl_pkg" type="control_node" output="screen">
   </node>
 </group>
</launch>
