<launch>

<arg name="gcs_url" value=""/>
<arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
<arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml" />
<group ns="camila0">
	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		
		<param name="fcu_url" value="udp://:14540@localhost:14557"/>
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
                <rosparam command="load" file="$(arg pluginlists_yaml)" />
                <rosparam command="load" file="$(find swarm_ctrl_pkg)/px4-configs/fcu_config/px4_config_0.yaml" />
	</node>

</group>
<group ns="camila1">
	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		
		<param name="fcu_url" value="udp://:14541@127.0.0.1:14558"/>
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
                <rosparam command="load" file="$(arg pluginlists_yaml)" />
                <rosparam command="load" file="$(find swarm_ctrl_pkg)/px4-configs/fcu_config/px4_config_1.yaml" />
	</node>

</group>

<group ns="camila2">
	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		
		<param name="fcu_url" value="udp://:14542@127.0.0.1:14559"/>
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
                <rosparam command="load" file="$(arg pluginlists_yaml)" />
                <rosparam command="load" file="$(find swarm_ctrl_pkg)/px4-configs/fcu_config/px4_config_2.yaml" />
	</node>

</group>

<group ns="camila3">
	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		
                <param name="fcu_url" value="udp://:14543@127.0.0.1:14539"/>
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
                <rosparam command="load" file="$(arg pluginlists_yaml)" />
                <rosparam command="load" file="$(find swarm_ctrl_pkg)/px4-configs/fcu_config/px4_config_3.yaml" />
	</node>

</group>

<node name="cmd_node" pkg="swarm_ctrl_pkg" type="cmd_node" output="screen">
</node>

<node name="state_node" pkg="swarm_ctrl_pkg" type="state_node" output="screen">
</node>

<node name="set_point_node" pkg="swarm_ctrl_pkg" type="set_point_node" output="screen">
   <param name="offset" value="2"/>
</node>

<node name="set_home_node" pkg="swarm_ctrl_pkg" type="set_home_node" output="screen">
</node>


</launch>
