<launch>

<group>
  <machine name = "camila1" address="192.168.0.11" user="icsl-pi" password="icsl5293" env-loader="/home/icsl-pi/catkin_ws/devel/env.sh" default="true" />
  <include file="$(find swarm_ctrl_pkg)/launch/on_rasberry.launch">
  <arg name="drone_ns" value="camila1" />
  <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
  </include>
</group>

<group>
  <machine name = "camila2" address="192.168.0.12" user="icsl-pi" password="icsl5293" env-loader="/home/icsl-pi/catkin_ws/devel/env.sh" default="true" />
  <include file="$(find swarm_ctrl_pkg)/launch/on_rasberry.launch">
  <arg name="drone_ns" value="camila2" />
  <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
  </include>
</group>

<group>
  <machine name = "camila3" address="192.168.0.13" user="icsl-pi" password="icsl5293" env-loader="/home/icsl-pi/catkin_ws/devel/env.sh" default="true" />
  <include file="$(find swarm_ctrl_pkg)/launch/on_rasberry.launch">
  <arg name="drone_ns" value="camila3" />
  <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
  </include>
</group>



<node name="control_node" pkg="swarm_ctrl_pkg" type="control_node" output="screen">
        <param name="com_x" value="0.0" />
        <param name="com_y" value="0.0" />
        <param name="com_z" value="2.0" />
</node>

</launch>
