<launch>
    <!-- setpoint ctrl -->
    <arg name="num_drone" default="1"/>
    <arg name="kp" default="0.5"/>
    <arg name="kp_sp" default="5"/>
    <arg name="range_sp" default="5"/>
    <arg name="max_speed" default="3"/>

	<!-- UAV1 -->
	<group ns="camila1">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="1"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="/dev/ttyUSB0:57600"/>
		<!-- <arg name="gcs_url" default="udp://:14540@$(arg user_ip):13301"/> -->
		
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>

	<arg name="swarm_config_yaml" default="$(find swarm_ctrl_pkg)/config/swarm-configs/config.yaml" />
	<node name="swarm_node" pkg="swarm_ctrl_pkg" type="swarm_node" output="screen" respawn="true">
		<rosparam command="load" file="$(arg swarm_config_yaml)"/>
		<param name="num_drone" value="$(arg num_drone)"/>
	</node>

</launch>