<launch>
<arg name="fcu_url" default="/dev/ttyUSB0:57600"/>

<arg name="tgt_system" default="1" />
<arg name="tgt_component" default="1" />

<group ns="camila1">
  <machine name = "camila1" address="192.168.0.11" user="icsl-pi" password="icsl5293" env-loader="/home/icsl-pi/catkin_ws/devel/env.sh"/>
<node machine="camila1" name="mavros" pkg="mavros" type="mavros_node" output="screen">
        <param name="fcu_url" value="/dev/ttyUSB0:57600"/>
  </node> 
</group>

<group ns="camila2"> 
  <machine name = "camila2" address="192.168.0.12" user="icsl-pi" password="icsl5293" env-loader="/home/icsl-pi/catkin_ws/devel/env.sh"/>
<node machine="camila2" name="mavros" pkg="mavros" type="mavros_node" output="screen">
        <param name="fcu_url" value="/dev/ttyUSB0:57600"/>
  </node> 
</group>

<!--
<group ns="camila3">
  <machine name = "camila3" address="192.168.0.13" user="icsl-pi" password="icsl5293" env-loader="/home/icsl-pi/catkin_ws/devel/env.sh"/>
<node machine="camila3" name="mavros" pkg="mavros" type="mavros_node" output="screen">
        <param name="fcu_url" value="/dev/ttyUSB0:57600"/>
  </node> 
</group>
-->
<node name="control_node" pkg="swarm_ctrl_pkg" type="control_node" output="screen">
        <param name="com_x" value="0.0" />
        <param name="com_y" value="0.0" />
        <param name="com_z" value="2.0" />
</node>


</launch>


