<launch>
	<!-- MAVROS posix SITL environment launch script -->
	<!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
	<!-- vehicle model and world -->
	<arg name="est" default="ekf2"/>
	<arg name="vehicle" default="iris"/>
	<!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/> -->

	<arg name="world" default="$(find swarm_ctrl_pkg)/config/posix-configs/worlds/empty_sky.world"/>

	<!-- gazebo configs -->
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="paused" default="false"/>

	<!-- setpoint ctrl -->
	<arg name="num_drone" default="20"/>
	<arg name="kp" default="0.5"/>
	<arg name="kp_sp" default="5"/>
	<arg name="range_sp" default="5"/>
	<arg name="max_speed" default="3"/>

	<!-- Gazebo sim -->
	<param name="/use_sim_time" value="true"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="paused" value="$(arg paused)"/>
	</include>

	<arg name="user_ip" default="localhost"/>
	<param name="/use_sim_time" value="true"/>

	<!-- UAV1 -->
	<group ns="camila1">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="1"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:13201@$(arg user_ip):13101"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13301"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13001"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila2">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="2"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:13202@$(arg user_ip):13102"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13302"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13002"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila3">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="3"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:13203@$(arg user_ip):13103"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13303"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13003"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>

	<group ns="camila4">
		<arg name="ID" value="4"/>
		<arg name="fcu_url" default="udp://:13204@$(arg user_ip):13104"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13304"/>

		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13004"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>

		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila5">
		<arg name="ID" value="5"/>
		<arg name="fcu_url" default="udp://:13205@$(arg user_ip):13105"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13305"/>

		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13005"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila6">
		<arg name="ID" value="6"/>
		<arg name="fcu_url" default="udp://:13206@$(arg user_ip):13106"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13306"/>
		<!-- <machine name = "camila" address="$(arg user_ip)" user="sewoong" password="12341234" env-loader="/home/sewoong/catkin_ws/devel/env.sh" default="true" /> -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13006"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila7">
		<arg name="ID" value="7"/>
		<arg name="fcu_url" default="udp://:13207@$(arg user_ip):13107"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13307"/>
		<!-- <machine name = "camila" address="$(arg user_ip)" user="sewoong" password="12341234" env-loader="/home/sewoong/catkin_ws/devel/env.sh" default="true" /> -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13007"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila8">
		<arg name="ID" value="8"/>
		<arg name="fcu_url" default="udp://:13208@$(arg user_ip):13108"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13308"/>
		<!-- <machine name = "camila" address="$(arg user_ip)" user="sewoong" password="12341234" env-loader="/home/sewoong/catkin_ws/devel/env.sh" default="true" /> -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13008"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila9">
		<arg name="ID" value="9"/>
		<arg name="fcu_url" default="udp://:13209@$(arg user_ip):13109"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13309"/>
		<!-- <machine name = "camila" address="$(arg user_ip)" user="sewoong" password="12341234" env-loader="/home/sewoong/catkin_ws/devel/env.sh" default="true" /> -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="0"/>
			<arg name="y" value="$(arg ID)"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13009"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila10">
		<arg name="ID" value="10"/>
		<arg name="pos" value="9"/>
		<arg name="fcu_url" default="udp://:13210@$(arg user_ip):13110"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13310"/>
		<!-- <machine name = "camila" address="$(arg user_ip)" user="sewoong" password="12341234" env-loader="/home/sewoong/catkin_ws/devel/env.sh" default="true" /> -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="13010"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>

		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
		<!-- </machine> -->
	</group>
	<group ns="camila11">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="11"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila12">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="12"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila13">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="13"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila14">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="14"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila15">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="15"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila16">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="16"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila17">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="17"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila18">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="18"/>
		<arg name="pos" value="9"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="1"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila19">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="19"/>
		<arg name="pos" value="18"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="2"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>
	<group ns="camila20">
		<!-- MAVROS and vehicle configs -->
		<arg name="ID" value="20"/>
		<arg name="pos" value="18"/>
		<!--udp://:"remote port"@$(arg user_ip):"udp port" -->
		<arg name="fcu_url" default="udp://:132$(arg ID)@$(arg user_ip):131$(arg ID)"/>
		<arg name="gcs_url" default="udp://:134$(arg ID)@$(arg user_ip):133$(arg ID)"/>
		<!-- PX4 SITL and vehicle spawn -->
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<arg name="x" value="2"/>
			<arg name="y" value="$(eval arg('ID') - arg('pos'))"/>
			<arg name="z" value="0"/>
			<arg name="R" value="0"/>
			<arg name="P" value="0"/>
			<arg name="Y" value="0"/>
			<arg name="vehicle" value="$(arg vehicle)"/>
			<arg name="rcS" value="$(find swarm_ctrl_pkg)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
			<arg name="mavlink_udp_port" value="130$(arg ID)"/>
			<arg name="ID" value="$(arg ID)"/>
		</include>
		<!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
			<param name="target_system_id" value="$(arg ID)"/>
			<param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
		</node>
	</group>

	<arg name="swarm_config_yaml" default="$(find swarm_ctrl_pkg)/config/swarm-configs/config.yaml" />
	<node name="swarm_node" pkg="swarm_ctrl_pkg" type="swarm_node" output="screen" respawn="true">
		<rosparam command="load" file="$(arg swarm_config_yaml)"/>
		<param name="num_drone" value="$(arg num_drone)"/>
	</node>

</launch>